body {
    /* display: flex; */
    background-color: #282a36;
    color: #f8f8f2;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
    /* vertical align center */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

button {
    background-color: rgb(71 85 105);
    border: none;
    color: #f8f8f2;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}
button:hover {
    background-color: #383b4a;
}

a{
    text-decoration: none;
    color: #f8f8f2;
}